vich_uploader:
    db_driver: orm
    mappings:
        contributor_avatars:
            uri_prefix:         /uploads/avatars
            upload_destination: "%kernel.project_dir%/public/uploads/avatars"
            namer:
                service: Vich\UploaderBundle\Naming\PropertyNamer
                options: { property: 'id' }
        contributor_banners:
            uri_prefix:         /uploads/contributor_banners
            upload_destination: "%kernel.project_dir%/public/uploads/contributor_banners"
            namer:
                service: Vich\UploaderBundle\Naming\PropertyNamer
                options: { property: 'id' }
        contributor_previews:
            uri_prefix: /uploads/contributor_previews
            upload_destination: "%kernel.project_dir%/public/uploads/contributor_previews"
            namer:
                service: Vich\UploaderBundle\Naming\PropertyNamer
                options: { property: 'id' }
        notice_screenshots:
            uri_prefix:         /uploads/notice_screenshots
            upload_destination: "%kernel.project_dir%/public/uploads/notice_screenshots"
            namer:
                service: Vich\UploaderBundle\Naming\PropertyNamer
                options: { property: 'id' }
