/app/config/parameters.yml
/build
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
/vendor
/web/bundles/
.idea
*.php~
/web/uploads/
/web/media/
.env_prod
/.clever.json
.php_cs.cache
