.field-matching_context > label.col-sm-2.control-label, .field-alternative > label.col-sm-2.control-label{
    display: none;
}

.form-group.field-collection {
    margin-top: 25px;
}

.field-collection-action {
    width: 85%;
    float: left;
}

.form-group.field-source {
    margin-top: 25px;
}

body.edit textarea#notice_message,
body.edit textarea#notice_note,
body.new textarea#notice_message,
body.new textarea#notice_note,
body.edit textarea#expirednotice_message,
body.edit textarea#expirednotice_note,
body.new textarea#expirednotice_message,
body.new textarea#expirednotice_note{
    min-height: 100px;
}

body.new .field-matching_context textarea,
body.edit .field-matching_context textarea,
textarea#notice_excludeUrlRegex,
textarea#expirednotice_excludeUrlRegex {
    min-height: 50px;
}

#notice_source label {
    width: 60px;
}

.navbar-custom-menu ul.navbar-nav .user-menu a.logout {
    display: inline-block;
    color: rgba(255, 255, 255, 0.8);
    margin-left: 10px;
}

.nav>li>a.logout:hover, .nav>li>a.logout:active, .nav>li>a.logout:focus {
    background-color: transparent;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.field-group>fieldset {
    height: 95%;
}


.form-widget input.form-control,
.form-widget textarea.form-control,
.form-widget select.form-control,
.select2 .selection .select2-selection {
    max-width: inherit;
}
