easy_admin:
    design:
        assets:
            css:
                - 'css/admin.css'
            js:
                - 'js/regex_validator.js'
    site_name: 'Le Même En Mieux'
    entities:
        Notice:
            class: AppBundle\Entity\Notice
            label: 'Notice'
            search:
                fields:
                    - matchingContexts.urlRegex
                    - matchingContexts.excludeUrlRegex
                    - matchingContexts.description
                    - type.label
                    - type.slug
                    - contributor.name
                    - message
                    - note
                    - source.url
                    - source.label
            form:
                fields:
                    - message
                    - contributor
                    - type
                    - note
                    - { property: 'source', type: 'AppBundle\Form\SourceType' }
                    - { property: 'visibility', type: 'AppBundle\Form\VisibilityType' }
                    - { property: 'channels'}
                    - { property: 'matchingContexts', type: 'collection', type_options: {entry_type: 'AppBundle\Form\MatchingContextType', allow_add: true, allow_delete: true, by_reference: false} }

            list:
                fields:
                    - id
                    - contributor
                    - sourceUrl
                    - visibility
                    - matchingContexts
                    - type
                    - updated
                    - { property : 'displayedRatingCount', label: 'Vues' }
                    - { property : 'clickedRatingCount', label: 'Cliqués' }
                    - { property : 'approvedRatingCount', label: 'Approuvés' }
                    - { property : 'dismissedRatingCount', label: 'Ignorés' }
                    - { property : 'reportedRatingCount', label: 'Signalés' }
        MatchingContext:
            class: AppBundle\Entity\MatchingContext
            disabled_actions: ['new', 'edit']
        Channel:
            class: AppBundle\Entity\Channel
            list:
              fields:
                - { property: name, label: "Channel's name" }
            form:
              fields:
                - { property: name, label: "Channel's name" }
        Type:
            class: AppBundle\Entity\Type
            list:
                fields: ['id', 'label', 'slug']
            form:
                fields:
                    - label
        User:
            class: AppBundle\Entity\User
            list:
                fields:
                - username
                - email
                - enabled
                - lastLogin
                - roles
            edit:
                fields:
                    - username
                    - email
                    - enabled
                    - { property: 'plainPassword', type: 'text', type_options: { required: false } }
                    - { property: 'roles', type: 'choice', type_options: { multiple: true, choices: { 'ROLE_USER': 'ROLE_USER', 'ROLE_ADMIN': 'ROLE_ADMIN' } } }
            new:
                fields:
                - username
                - email
                - enabled
                - { property: 'plainPassword', type: 'text', type_options: { required: true } }
                - { property: 'roles', type: 'choice', type_options: { multiple: true, choices: { 'ROLE_USER': 'ROLE_USER', 'ROLE_ADMIN': 'ROLE_ADMIN' } } }


        Contributor:
            class: AppBundle\Entity\Contributor
            list:
                sort: ['name', 'ASC']
            form:
                fields:
                  - name
