easy_admin:
    design:
        assets:
            css:
                - 'css/admin.css'
            js:
                - 'js/regex_validator.js'
    site_name: 'Le Même En Mieux'
    entities:
        Recommendation:
            class: AppBundle\Entity\Recommendation
            label: 'Recommendation'
            form:
                fields:
                    - title
                    - description
                    - contributor
                    - criteria
                    - note
                    - { property: 'visibility', type: 'AppBundle\Form\VisibilityType' }
                    - { property: 'channels'}
                    - { property: 'resource', type: 'AppBundle\Form\ResourceType' }
                    - { property: 'matchingContexts', type: 'collection', type_options: {entry_type: 'AppBundle\Form\MatchingContextType', allow_add: true, allow_delete: true, by_reference: false} }
                    - { property: 'alternatives', type: 'collection', type_options: {entry_type: 'AppBundle\Form\AlternativeType', allow_add: true, allow_delete: true, by_reference: false} }

            list:
                fields:
                    - id
                    - visibility
                    - title
                    - alternatives
                    - matchingContexts
                    - criteria
                    - resource
                    - { property : 'approvedFeedbacksCount', label: 'Approuvés' }
                    - { property : 'dismissedFeedbacksCount', label: 'Ignorés' }
                    - { property : 'reportedFeedbacksCount', label: 'Signalés' }
        MatchingContext:
            class: AppBundle\Entity\MatchingContext
            disabled_actions: ['new', 'edit']
        Channel:
            class: AppBundle\Entity\Channel
            list:
              fields:
                - { property: name, label: "Channel's name" }
            form:
              fields:
                - { property: name, label: "Channel's name" }
        Alternative:
            class: AppBundle\Entity\Alternative
            disabled_actions: ['new', 'edit']
        Criterion:
            class: AppBundle\Entity\Criterion
            list:
                fields: ['id', 'label', 'slug']
            form:
                fields:
                    - label
        User:
            class: AppBundle\Entity\User
            form:
                fields: ['enabled', 'username', 'email', 'roles', 'lastLogin']
        Contributor:
            class: AppBundle\Entity\Contributor
            form:
                fields:
                  - name
                  - organization
                  - { property: 'imageFile', type: 'vich_image' }
        Editor:
            class: AppBundle\Entity\Editor
