easy_admin:
    design:
        assets:
            css:
                - 'css/admin.css'
            js:
                - 'js/regex_validator.js'
    site_name: 'Le Même En Mieux'
    entities:
        Recommendation:
            class: AppBundle\Entity\Recommendation
            label: 'Recommendation'
            search:
                fields:
                    - alternatives.urlToRedirect
                    - alternatives.label
                    - alternatives.description
                    - matchingContexts.urlRegex
                    - matchingContexts.excludeUrlRegex
                    - matchingContexts.description
                    - criteria.label
                    - criteria.slug
                    - title
                    - resource.label
                    - resource.description
                    - resource.url
                    - contributor.name
                    - contributor.organization
                    - description
                    - note
            form:
                fields:
                    - title
                    - description
                    - contributor
                    - criteria
                    - note
                    - { property: 'visibility', type: 'AppBundle\Form\VisibilityType' }
                    - { property: 'channels'}
                    - { property: 'resource', type: 'AppBundle\Form\ResourceType' }
                    - { property: 'matchingContexts', type: 'collection', type_options: {entry_type: 'AppBundle\Form\MatchingContextType', allow_add: true, allow_delete: true, by_reference: false} }
                    - { property: 'alternatives', type: 'collection', type_options: {entry_type: 'AppBundle\Form\AlternativeType', allow_add: true, allow_delete: true, by_reference: false} }

            list:
                fields:
                    - id
                    - visibility
                    - title
                    - alternatives
                    - matchingContexts
                    - criteria
                    - resource
                    - { property : 'displayedFeedbackCount', label: 'Vues' }
                    - { property : 'clickedFeedbackCount', label: 'Cliqués' }
                    - { property : 'approvedFeedbackCount', label: 'Approuvés' }
                    - { property : 'approvedFeedbackCount', label: 'Approuvés' }
                    - { property : 'dismissedFeedbackCount', label: 'Ignorés' }
                    - { property : 'reportedFeedbackCount', label: 'Signalés' }
        MatchingContext:
            class: AppBundle\Entity\MatchingContext
            disabled_actions: ['new', 'edit']
        Channel:
            class: AppBundle\Entity\Channel
            list:
              fields:
                - { property: name, label: "Channel's name" }
            form:
              fields:
                - { property: name, label: "Channel's name" }
        Alternative:
            class: AppBundle\Entity\Alternative
            disabled_actions: ['new', 'edit']
        Criterion:
            class: AppBundle\Entity\Criterion
            list:
                fields: ['id', 'label', 'slug']
            form:
                fields:
                    - label
        User:
            class: AppBundle\Entity\User
            list:
                fields:
                - username
                - email
                - enabled
                - lastLogin
                - roles
            edit:
                fields:
                    - username
                    - email
                    - enabled
                    - { property: 'plainPassword', type: 'text', type_options: { required: false } }
                    - { property: 'roles', type: 'choice', type_options: { multiple: true, choices: { 'ROLE_USER': 'ROLE_USER', 'ROLE_ADMIN': 'ROLE_ADMIN' } } }
            new:
                fields:
                - username
                - email
                - enabled
                - { property: 'plainPassword', type: 'text', type_options: { required: true } }
                - { property: 'roles', type: 'choice', type_options: { multiple: true, choices: { 'ROLE_USER': 'ROLE_USER', 'ROLE_ADMIN': 'ROLE_ADMIN' } } }


        Contributor:
            class: AppBundle\Entity\Contributor
            list:
                sort: ['name', 'ASC']
            form:
                fields:
                  - name
                  - organization
                  - { property: 'imageFile', type: 'vich_image' }
        Editor:
            class: AppBundle\Entity\Editor
