{% extends 'base.html.twig' %}

{% block title %}DisMoi{% endblock %}

{% block body %}
    <h3>Authentification</h3>
    <p>
        {% block fos_user_content %}{% endblock %}
    </p>
{% endblock %}