swagger: '2.0'
info:
    version: v3
    title: Notices API
    contact: {}
host: notices.lmem.net
basePath: /api/v3
schemes:
    - https
consumes:
    - application/json
produces:
    - application/json
paths:
    /matchingcontexts:
        get:
            summary: Retrieve all matching contexts.
            tags:
                - matchingcontexts
            operationId: MatchingcontextsGet
            produces:
                - application/json
            parameters:
                - name: contributors
                  in: query
                  required: false
                  type: array
                  uniqueItems: true
                  items:
                      type: integer
                      format: int32
                  description: Include Notices that have one of those contributors. Include all if missing.
            responses:
                '200':
                    description: ''
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Matchingcontextsresponse'
                    examples:
                        application/json:
                            - noticeUrl: 'https://notices.lmem.net/api/v3/notices/3'
                              urlRegex: 20minutes.fr/societe/1860259-20160606-violences-policieres-quarante-huit-enquetes-judiciaires-ouvertes-police-polices
                            - noticeUrl: 'https://notices.lmem.net/api/v3/notices/6'
                              urlRegex: 'http://tests.menant-benjamin.fr/?$'
                              excludeUrlRegex: google
                              querySelector: '[itemType="http://schema.org/Product"]'
                    headers: {}
    '/notices/{noticeId}/ratings':
        post:
            summary: Users can rate a Notice to give feedback to contributors.
            tags:
                - notices
            operationId: NoticesRatingsByNoticeIdPost
            produces:
                - application/json
            parameters:
                - name: noticeId
                  in: path
                  required: true
                  type: integer
                  format: int32
                  exclusiveMaximum: false
                  exclusiveMinimum: false
                  description: Id of the Notice.
                - name: body
                  in: body
                  required: true
                  description: ''
                  schema:
                      $ref: '#/definitions/NoticesRatingsrequest'
            responses:
                '204':
                    description: ''
                    headers: {}
    '/notices/{noticeId}':
        get:
            summary: Retrieve a Notice with its id.
            tags:
                - notices
            operationId: NoticesByNoticeIdGet
            produces:
                - application/json
            parameters:
                - name: noticeId
                  in: path
                  required: true
                  type: integer
                  format: int32
                  exclusiveMaximum: false
                  exclusiveMinimum: false
                  description: Id of the Notice.
            responses:
                '200':
                    description: ''
                    schema:
                        $ref: '#/definitions/Noticesresponse'
                    examples:
                        application/json:
                            contributor:
                                id: 4
                                name: Maarten SAMSON
                            visibility: public
                            message: '<p>D''après le comparatif Cero1net des smartphones à moins de 200 €, le smartphone Road Kiiwi obtient une note de 6,6/10. Parmi les meilleures alternatives, le Azer Aquoz Z630 obtient une note de 8.1/10 : il a notamment une bien meilleure durée de batterie en navigation web : 15h56 min contre 6h47 min. Et il est vendu 40 € moins cher.</p>'
                            sourceHref: 'https://choisir.lmem.net?utm_source=lmem_assistant'
                            type:
                                label: Alternative
                                slug: alternative
                            ratings:
                                approves: 7
                                dislikes: 2
                    headers: {}
    /contributors:
        get:
            summary: Every recommendation has a Contributor, allowing notices filtering.
            tags:
                - contributors
            operationId: ContributorsGet
            produces:
                - application/json
            parameters: []
            responses:
                '200':
                    description: ''
                    schema:
                        type: array
                        items:
                            $ref: '#/definitions/Contributorsresponse'
                    examples:
                        application/json:
                            - id: 42
                              name: Mediapart
                            - id: 1
                              name: Le Même en Mieux
                    headers: {}
definitions:
    Matchingcontextsresponse:
        title: Matchingcontextsresponse
        example:
            noticeUrl: 'https://notices.lmem.net/api/v3/notices/3'
            urlRegex: 20minutes.fr/societe/1860259-20160606-violences-policieres-quarante-huit-enquetes-judiciaires-ouvertes-police-polices
        type: object
        properties:
            noticeUrl:
                example: 'https://notices.lmem.net/api/v3/notices/3'
                type: string
            urlRegex:
                example: 20minutes.fr/societe/1860259-20160606-violences-policieres-quarante-huit-enquetes-judiciaires-ouvertes-police-polices
                type: string
            excludeUrlRegex:
                example: google
                type: string
            querySelector:
                example: '[itemType="http://schema.org/Product"]'
                type: string
        required:
            - noticeUrl
            - urlRegex
    NoticesRatingsrequest:
        title: NoticesRatingsrequest
        example:
            ratingType: approve
            contexts:
                datetime: '2018-11-24T18:00:00Z'
                url: 'https://en.wikipedia.org/'
                geolocation: 'geo:37.786971,-122.399677;u=35'
        type: object
        properties:
            ratingType:
                $ref: '#/definitions/ratingType'
            contexts:
                $ref: '#/definitions/contexts'
            reason:
                description: Hint about a report.
                type: string
        required:
            - ratingType
            - contexts
    ratingType:
        title: ratingType
        description: Type of ratings or feedback.
        example: approve
        type: string
        enum:
            - approve
            - dislike
            - dismiss
            - display
            - report
    contexts:
        title: contexts
        type: object
        properties:
            datetime:
                description: Datetime (ISO 8601) of the rating.
                example: '11/24/2018 18:00:00'
                type: string
            url:
                description: URL the notice’s matching context actually matched.
                example: 'https://tests.menant-benjamin.fr/'
                type: string
            geolocation:
                description: Geo URI scheme (RFC 5870) of who’s giving feedbacks.
                type: string
        required:
            - datetime
            - url
    Noticesresponse:
        title: Noticesresponse
        example:
            contributor:
                id: 4
                name: Maarten SAMSON
            visibility: public
            message: '<p>D''après le comparatif Cero1net des smartphones à moins de 200 €, le smartphone Road Kiiwi obtient une note de 6,6/10. Parmi les meilleures alternatives, le Azer Aquoz Z630 obtient une note de 8.1/10 : il a notamment une bien meilleure durée de batterie en navigation web : 15h56 min contre 6h47 min. Et il est vendu 40 € moins cher.</p>'
            sourceHref: 'https://choisir.lmem.net?utm_source=lmem_assistant'
            type:
                label: Alternative
                slug: alternative
            ratings:
                approves: 7
                dislikes: 2
        type: object
        properties:
            contributor:
                type: object
            visibility:
                type: string
            message:
                type: string
            sourceHref:
                type: string
            type:
                type: object
            ratings:
                type: object
        required:
            - contributor
            - visibility
            - message
            - sourceHref
            - type
            - ratings
    Contributorsresponse:
        title: Contributorsresponse
        example:
            id: 42
            name: Mediapart
        type: object
        properties:
            id:
                example: 42
                type: integer
                format: int32
            name:
                example: Mediapart
                type: string
        required:
            - id
            - name
tags:
    - name: matchingcontexts
      description: ''
    - name: notices
      description: ''
    - name: contributors
      description: ''

